{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Savita Hotel - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'savita_admin/assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'savita_admin/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'savita_admin/assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'savita_admin/assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'savita_admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'savita_admin/assets/bundles/select2/dist/css/select2.min.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'savita_admin/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>

  <div id="app">
    <div class="main-wrapper main-wrapper-1">
        <nav class="navbar navbar-expand-lg main-navbar sticky">
            <div class="form-inline mr-auto">
              <ul class="navbar-nav mr-3">
                <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a></li>
                <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                    <i data-feather="maximize"></i>
                  </a></li>
                <li>
                  <form class="form-inline mr-auto">
                    <div class="search-element">
                      <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                      <button class="btn" type="submit">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
            <ul class="navbar-nav navbar-right">
              <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
                </a>
                <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                  <div class="dropdown-header">
                    Notifications
                    <div class="float-right">
                      <a href="#">Mark All As Read</a>
                    </div>
                  </div>
                  <div class="dropdown-list-content dropdown-list-icons">
                    <!-- Notifications content can go here -->
                  </div>
                  <div class="dropdown-footer text-center">
                    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </li>
              <li class="dropdown"><a href="#" data-toggle="dropdown"
                  class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{{ request.user.profile.profile_picture.url }}"
                    class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
                <div class="dropdown-menu dropdown-menu-right pullDown">
                  <div class="dropdown-title">Hello </div>
                  <a href="" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profile</a>  
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Logout </a>
                </div>
              </li>
            </ul>
        </nav>
    
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
              <div class="sidebar-brand mt-2">
                <h6 class="pt-4">SAVITA ADMIN</h6>
              </div>
              <ul class="sidebar-menu">
                <li class="menu-header">Main</li>
                <li class="dropdown active">
                  <a href="#" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                </li>
                
                <!-- Rooms Section -->
                <li class="dropdown">
                  <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="key"></i><span>Rooms</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'room_list' %}">Manage Rooms</a></li>
                    <li><a class="nav-link" href="{% url 'room_create' %}">Add New Room</a></li>
                  </ul>
                </li>

                <!-- Guests Section -->
                <li class="dropdown">
                  <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="users"></i><span>Guests</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'guest_list' %}">Manage Guests</a></li>
                    <li><a class="nav-link" href="{% url 'guest_create' %}">Add New Guest</a></li>
                  </ul>
                </li>

                <!-- Bookings Section -->
                <li class="dropdown">
                  <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="book"></i><span>Bookings</span></a>
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'booking_list' %}">Manage Bookings</a></li>
                    <li><a class="nav-link" href="{% url 'booking_create' %}">New Booking</a></li>
                  </ul>
                </li>


                
              </ul>
            </aside>
       
        </div>
        

        
        {% block content %}


        {% endblock content %}

          <!-- Message Display Block -->
          {% if messages %}
          <div class="main-content">
            
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              {% endfor %}
              
          </div>
          {% endif %}

        <footer class="main-footer">
            <div class="footer-left">
              <a href="templateshub.net">Templateshub</a>
         
            </div>
            <div class="footer-right">

            </div>
        </footer>
    
    </div>
</div>
<!-- General JS Scripts -->
<script src="{% static 'savita_admin/assets/js/app.min.js' %}"></script>
<!-- JS Libraries -->
<script src="{% static 'savita_admin/assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'savita_admin/assets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'savita_admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'savita_admin/assets/js/page/index.js' %}"></script>
<!-- Template JS File -->
<script src="{% static 'savita_admin/assets/js/scripts.js' %}"></script>
<!-- Custom JS File -->
<script src="{% static 'savita_admin/assets/js/custom.js' %}"></script>
<script src="{% static 'savita_admin/assets/js/page/datatables.js' %}"></script>
<script src="{% static 'savita_admin/assets/bundles/select2/dist/js/select2.full.min.js' %}"></script>
</body>
</html>
