{% extends "src/partials/base.html" %}
{% block content %}
<div class="main-content mt-1">
    <div class="card">
        <div class="card-header">
            <h4>Categories List</h4>
            <a href="{% url 'category_create' %}" class="btn btn-primary">Add New Category</a>
        </div>
        <div class="card-body">
            <table class="table table-stripped" id="table-1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            <a href="{% url 'category_update' category.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'category_delete' category.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
