{% extends "src/partials/base.html" %}
{% block content %}
<div class="main-content mt-1">
    <div class="card">
        <div class="card-header">
            <h4>Confirm Delete</h4>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete the fee structure for class {{ feestructure.class_assigned.name }}?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'feestructure_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
